* {
  box-sizing: border-box;
}

:root {
  --ff-primary: Tajawal;
  --bg-colour-primary: #d8b0e5;
  --bg-colour-secondary: #c783dd;
  --bg-colour-tertiary: #e4cdeb;
  --bg-colour-accent: #eee0f3;
  --text-mobile-colour-primary: #000;
  --text-mobile-colour-secondary: #fff;
  --text-mobile-colour-accent: #ff3b86;
  --text-desktop-colour-primary: #731d8f;
  --text-desktop-colour-secondary: #a833ce;
  --text-desktop-colour-tertiary: #e731c6;
  --text-desktop-colour-accent: #ff3b86;
}

body {
  background: var(--bg-colour-primary);
}

/* MOBILE TEXT STYLES */

h1,
p {
  font-family: var(--ff-primary);
  color: var(--text-mobile-colour-primary);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

p {
  font-size: 1.15rem;
}

p.influences {
  font-size: 1.5rem;
}

.quote p {
  color: var(--text-mobile-colour-secondary);
}

.review p {
  color: var(--text-mobile-colour-accent);
}


/* MOBILE IMAGE STYLES */

.header-desktop {
  display: none;
}

img {
  display: block;
  height: auto;
  width: 95%;
  max-width: 23rem;
  margin: 0 auto;
  padding: 1rem 0 1rem 0;
}

/* MOBILE TEXT FORMATTING */

.quote {
  background: var(--bg-colour-secondary);
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.review {
  background: var(--bg-colour-accent);
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.mainText {
  padding: 0.5rem;
}

footer {
  height: 5rem;
  width: 15rem;
  background: var(--bg-colour-accent);
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: var(--text-mobile-colour-accent);
  text-align: center;
  font-size: 0.9rem;
}

/* MEDIA QUERIES FOR TABLETS */

@media (min-width: 600px) {
  
body {
  max-width: 50vw;
  margin: 0 auto;
}

}

/* MEDIA QUERIES FOR DESKTOP */

@media (min-width: 1200px) {

  * {
    margin: 0;
  }

  body {
    max-width: 100vw;
  }

  /* DESKTOP IMAGE STYLES */

  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
    height: auto;
    max-width: 50rem;
    margin: 0 auto;
    padding-top: 4rem;
  }

  .imgHole {
    max-width: 30rem;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .imgSparkles1 {
    max-width: 36rem;
    padding: 0;
  }

  .imgSparkles2 {
    max-width: 42rem;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  /* DESKTOP TEXT STYLES & FORMATTING*/

  h1 {
    color: var(--text-desktop-colour-primary);
    font-size: 3.5rem;
    text-align: center;
  }

  p,
  p.influences {
    font-size: 1.15rem;
    color: var(--text-desktop-colour-primary)
  }

  span,
  a {
    color: var(--text-desktop-colour-accent);
  }

  .quote p {
    text-align: right;
    color: var(--text-desktop-colour-secondary);
  }

  .review p {
    color: var(--text-desktop-colour-primary);
  }

  .quote p,
  .review p {
    font-size: 1.5rem;
  }

  .quote,
  .review {
    background: var(--bg-colour-tertiary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .review {
    padding: 0 1rem 0 1rem; 
  }

  div.quote,
  div.review {
    background: var(--bg-colour-tertiary);
  }

  p.textLarge {
    font-size: 1.85rem;
  }

  span.textLight {
    color: var(--text-desktop-colour-tertiary);
  }

  span.textDark {
    color: var(--text-desktop-colour-primary);
  }

  .mainText {
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    margin-bottom: 5rem;
  }

  /* HEADER LAYOUT */

  .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 48rem;
    background: #c783dd;
    z-index: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
  }

  h1, img.header-desktop {
    transform: skewY(6deg);
    transform-origin: top left;
  }

  /* GRID LAYOUT */

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(141, 2rem);
  }

  /* div {
    border: 1px solid grey;
  } */ 

  .item-1 { grid-column: 12 / span 6; grid-row: 24 / span 9; z-index: 1; }
  .item-2 { grid-column: 5 / span 10; grid-row: 34 / span 4; z-index: 1; }
  .item-3 { grid-column: 5 / span 10; grid-row: 39 / span 12; z-index: 1; }
  .item-4 { grid-column: 5 / span 10; grid-row: 51 / span 7; z-index: 1; background: var(--bg-colour-secondary); }
  .item-5 { grid-column: 3 / span 8; grid-row: 60 / span 13; z-index: 1; }
  .item-6 { grid-column: 11 / span 6; grid-row: 60 / span 13; z-index: 1; }
  .item-7 { grid-column: 5 / span 10; grid-row: 76 / span 4; z-index: 1; background: var(--bg-colour-secondary); }
  .item-8 { grid-column: 4 / span 6; grid-row: 82 / span 11; }
  .item-9 { grid-column: 11 / span 5; grid-row: 83 / span 9; }
  .item-10 { grid-column: 1 / span 18; grid-row: 95 / span 16; }
  .item-11 { grid-column: 7 / span 6; grid-row: 112 / span 11; z-index: 1; }
  .item-12 { grid-column: 6 / span 8; grid-row: 124 / span 4; z-index: 1; }
  .item-13 { grid-column: 7 / span 6; grid-row: 129 / span 8; z-index: 1; }
  .item-14 { grid-column: 1 / span 18; grid-row: 139 / span 5; }

  .backgroundBar1 { grid-column: 1 / span 18; grid-row: 31 / span 10; z-index: 0; background: #eee0f3; }
  .backgroundBar2 { grid-column: 1 / span 18; grid-row: 56 / span 22; z-index: 0; background: #eee0f3; }
  .backgroundBar3 { grid-column: 1 / span 18; grid-row: 121 / span 10; z-index: 0; background: #eee0f3; }

}
