body {
  font-family: Tajawal;
}

h1 {
  text-align: center;
  color: #731d8f;
}

p {
  color: #731d8f;
}

a {
  color: #ff3b86;
}

p.alignRight {
  text-align: right;
}

.brightPurple {
  color: #a833ce;
}

.brightPink {
  color: #ff3b86;
}

.fuschia {
  color: #e731c6;
}

.quoteBox {
  margin-top: 0px;
}

/* MOBILE (LARGE)*/

@media only screen and (max-width: 425px) {

  body {
    background: #d5c2db;
    width: 90vw;
    margin: 0 auto;
  }

  img {
    display: block;
    margin: 0 auto;
    width: 90vw;
    padding-bottom: 1vh;
  }

  header {
    padding-top: 3.2vh;
  }

  h1 {
    font-size: 34px;
  }

  p, a {
    font-size: 16px;
  }

  p.mainText {
    padding-top: 1vh;
    padding-bottom: 2.5vh;
  }

  section.quoteBox p, section.quoteBox a {
    font-size: 20px;
  }

  section.quoteBox p.bigText {
    font-size: 26px;
  }

  .header-desktop {
    display: none;
  }

  .header-mobile {
    padding-bottom: 1.5vh;
  }

  section.quoteBox {
    width: 70vw;
  }

  .floatLeft {
    float: left;
  }

  .floatRight {
    float: right;
  }

  p.closeGapBottom {
    margin-bottom: 0px;
  }

  p.closeGapTop {
    margin-top: 0px;
  }

  h1.closeGapTop {
    margin-top: 2.5vh;
  }

  p.gapBottom {
    margin-bottom: 5vh;
  }

  p.gapTop {
    margin-top: 5vh;
  }

  p.smallGapBottom {
    margin-bottom: 3.5vh;
  }

  #closeGapMobile {
    padding-bottom: 0vh;
  }

  footer p {
    text-align: center;
    font-size: 12px;
  }

}

/* DESKTOP */

@media only screen and (min-width: 426px) {

  body {
    background: #d8b0e5;
    margin: 0 auto;
  }

  h1 {
    font-size: 50px;
    position: relative;
    bottom: 10vh;
  }

  p, a {
    font-size: 20px;
  }

  .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: #c783dd;
    z-index: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
  }

  h1, img.header-desktop {
    transform: skewY(6deg);
    transform-origin: top left;
  }

  section.quoteBox p, section.quoteBox a {
    font-size: 24px;
  }

  section.quoteBox p.bigText {
    font-size: 28px;
  }

  .header-mobile {
    display: none;
  }

  .header-desktop {
    display: block;
    margin: 12vh auto;
  }

  hr {
    display: none;
  }

  .mobileGap {
    display: none;
  }

  .quoteBox {
    box-sizing: border-box;
    padding: 1vh 3vw 1vh 3vw;
    background: #e4cdeb;
  }

  p.foot {
    background: #eee0f3;
    padding: 5px;
    width: 320px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
  }

  .imgHole, .imgSparkles2 {
    display: block;
    margin: 0 auto;
  }

  .imgSparkles1 {
    padding-top: 6vh;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(136, 5vh);
  }

  /* div {
    border: 1px solid grey;
  } */

  .item-1 { grid-column: 6 / span 3; grid-row: 25 / span 9; z-index: 1; }
  .item-2 { grid-column: 3 / span 5; grid-row: 34 / span 4; z-index: 1; }
  .item-3 { grid-column: 3 / span 5; grid-row: 39 / span 12; z-index: 1; }
  .item-4 { grid-column: 3 / span 5; grid-row: 51 / span 8; padding-left: 2vw; padding-right: 2vw; z-index: 1; background: #c783dd; }
  .item-5 { grid-column: 2 / span 4; grid-row: 59 / span 15; z-index: 1; }
  .item-6 { grid-column: 6 / span 3; grid-row: 60 / span 14; padding-top: 3.8vh; z-index: 1; }
  .item-7 { grid-column: 3 / span 5; grid-row: 75 / span 4; padding-left: 2vw; padding-right: 2vw; z-index: 1; background: #c783dd; }
  .item-8 { grid-column: 2 / span 3; grid-row: 81 / span 11; }
  .item-9 { grid-column: 6 / span 3; grid-row: 81 / span 10; padding-top: 7vh; }
  .item-10 { grid-column: 1 / span 9; grid-row: 93 / span 16; }
  .item-11 { grid-column: 4 / span 3; grid-row: 110 / span 11; z-index: 1; }
  .item-12 { grid-column: 3 / span 5; grid-row: 121 / span 4; z-index: 1; padding-top: 1.5vh}
  .item-13 { grid-column: 4 / span 3; grid-row: 126 / span 8; z-index: 1; }
  .item-14 { grid-column: 1 / span 9; grid-row: 134 / span 5; padding-top: 2.6vh; }

  .backgroundBar1 { grid-column: 1 / span 9; grid-row: 31 / span 10; background: #eee0f3; z-index: 0; }
  .backgroundBar2 { grid-column: 1 / span 9; grid-row: 56 / span 21; background: #eee0f3; z-index: 0; }
  .backgroundBar3 { grid-column: 1 / span 9; grid-row: 118 / span 10; background: #eee0f3; z-index: 0; }

  div.item14 p, div.item25 p {
    color: #3e154c;
  }
}

/* MOBILE (SMALL)*/

@media only screen and (max-width: 365px) {

  section.quoteBox {
    width: 90vw;
  }

  h1 {
    font-size: 30px;
  }

  p.smallGapBottom {
    margin-bottom: 0px;
  }


}
